header, .purple:hover {
    color: #f4bfff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width:  100px;
    text-align: center;
}

li {
    list-style: upper-roman;
}

article  {
    background-color:  lavender;
    padding: 5px;
}

.grey {
    color: #a2a2a2;
}

a:link, a:visited {
    text-decoration: lightcoral;
    background-color: rgb(184, 255, 234);
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 2px;
}

a:hover {
    background-color: orange;
}

a:active {
    color:rgb(207, 56, 101)
}

ul li:nth-child(2) {
    color: rgb(82, 189, 189);
}

.p1 {
    /* background-color: #f5a781; */
    margin: 10px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 49%;
    height: 300px;
    box-sizing: border-box;
    float: left;
    clear: both;
    
}

.p2 {
    background-image: url('gugu1.JPG');
    /*box-sizing: border-box;*/
    margin-top: 10px;
    /* background-color: azure; */
    width: 49%;
    height: 300px;
    color: #f4bfff;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center;
    float: right;
}